:root {
    --lightColor: purple;
    --darkColor: grey;

}
.divContainer{
    background-color: #444;
}
.lightGroup {
    fill: var(--lightColor);
}

@keyframes moveLight {
    0% {
      transform: translateY(0);  /* Start position */
    }
    25% {
      transform: translateY(-40px);  /* Move right */
    }
    50% {
      transform: translateY(0);  /* Return to start */
    }
    75% {
        transform: translateY(40px);  /* Move right */
      }
    }
/* Hover effect for light group */
.lightGroup {
    animation: moveLight 3s ease-in-out infinite;
}

.darkGroup{
    fill: var(--darkColor);
}
@keyframes moveDark {
    0% {
      transform: translateY(0);  /* Start position */
    }
    50% {
      transform: translateY(-40px);  /* Move right */
    }
    100% {
      transform: translateY(0);  /* Return to start */
    }
  }
/* Hover effect for light group */
.darkGroup1 {
    animation: moveDark 3s ease-in-out infinite;
}

.group1 {
    animation: moveEye 3s ease-in-out infinite;
}

@keyframes moveEye {
    0% {
      transform: scale(1);
    }
    25% {
      transform: scaleY(3) translateY(-40px );
    }
    50% {
      transform: scale(1);
    }
    }
/* Hover effect for light group */
